#sccAtriumPlan {
    position: relative;
    /*border: 1px solid #419bf9;*/
    margin: auto;
    padding: 10px;
    display: block;
}

.css-live-tabling {
    display: block;
}

.css-reset-setup {}

.css-reset-table-container {
    position: relative;
    width: 700px;
    height: 500px;
    margin: auto !important;
    padding: 10px;
    border: 1px solid #65ecaf;
    display: block;
    background-color: #ffffff;
    border-radius: 7px;
}

.css-reset-table {
    position: relative;
    background-color: #65ecaf;
    height: 15px;
    width: 34px;
    margin: 2px 5px 2px 5px;
    border-radius: 2px;
    z-index: 9999px !important;
    text-align: center;
    font-size: 11.5px;
    color: #ffffff;
}

#a {
    position: relative;
    left: 280px;
    bottom: 147px;
    transform: rotate(8deg) scale(1) skew(0deg) translate(0px);
    /*-webkit-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
    -o-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -ms-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);*/
}

#b {
    position: relative;
    left: 240px;
    bottom: 170px;
    transform: rotate(8deg) scale(1) skew(0deg) translate(0px);
    /*-webkit-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
    -o-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -ms-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);*/
}

#c {
    position: relative;
    left: 153px;
    bottom: 130px;
    transform: rotate(103deg) scale(1) skew(0deg) translate(0px);
    /*-webkit-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
    -o-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -ms-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);*/
}

#d {
    position: relative;
    left: 46px;
    bottom: 170px;
    transform: rotate(104deg) scale(1) skew(0deg) translate(0px);
    /*-webkit-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
    -o-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -ms-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);*/
}

#e {
    position: relative;
    left: 36px;
    bottom: 147px;
    transform: rotate(104deg) scale(1) skew(0deg) translate(0px);
    /*-webkit-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
    -o-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -ms-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);*/
}

#f {
    position: relative;
    left: 26px;
    bottom: 124px;
    transform: rotate(104deg) scale(1) skew(0deg) translate(0px);
    /*-webkit-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -moz-transform: rotate(2deg) scale(1) skew(3deg) translate(0px);
    -o-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);
    -ms-transform:  rotate(2deg) scale(1) skew(3deg) translate(0px);*/
}

.css-reset-floor-background {
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 7px;
}

.css-reset-floor-key {
    width: auto;
    height: auto;
    background-color: #003c7a;
    border-radius: 7px;
    padding: 10px 25px 15px 25px;
    margin-top: 15px;
}

.css-reset-view-floorplan {
    display: none;
}

.css-calendar-container {
    position: relative;
    bottom: 20px;
}

@media screen and (max-width: 872px) {
    .css-reset-floor-background {
        display: none;
    }

    .css-reset-view-floorplan {
        display: inline;
    }
}
